.container{
    height: 100vh;
    width: 30vw;
    margin-left: 5vw;
    background-color: rgb(51, 51, 51);
    position: absolute;
    top: 0;
    overflow-y: auto;
}
.container::-webkit-scrollbar {
    display: none;
  }
  .container {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }

.chatHead{
    width: 100%;
    height: 100px;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 3px black;
}
.chatHead div{
    flex: 1;
    height: 100%;
    width: 100%;
}
.head{
    /* background-color: orange; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding: 2%; */
}
.head h2{
    flex: 5;
    font-size: 18px;
    color: white;
    margin-left: 5%;
}
.options{
    flex: 2;
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.options svg:hover{
    opacity: 0.7;
}
.subHead{
    /* background-color: white; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5%;
    column-gap: 20px;
}
.subHead input{
    background-color: rgb(68, 68, 68);
    color: white;
    border-style: solid;
    border-color: transparent;
}
.search1{
    flex: 2.3;
    height: 70%;
    border-radius: 20px;
    outline: none;
    padding: 0 5px;
}
.search2{
    flex: 0.7;
    height: 70%;
    border-radius: 20px;
    outline: none;
    padding:  0 5px;
}
.msgArea{
    height: 100px;
    width: 95%;
    margin-left: 2.5%;
    background-color:transparent;
    margin-top: 20px;
    border-radius: 20px;    
    box-shadow: 1px 1px 3px black;
    display: flex;
    border-style: double;
    border-color: black;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    color: white;
}
.msgArea:hover{
    background-color: rgb(12, 12, 129);
}
.dp{
    flex: 1;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    /* background-color: green; */
    margin-left: 4%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.details{
    flex: 7;
    /* background-color: red; */
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.username{
    font-weight: 700;
}
.message{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 5%;
}


.createConversation{
    height: 40px;
    width: 100%;
    background-color: rgb(1, 1, 107);
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: -webkit-sticky;
    position: sticky; */
    position: absolute;
    bottom: 0;
    cursor: pointer;
}
.createConversation:hover{
    opacity: 0.7;
}
.createConversation:active{
    opacity: 0;
}

@media screen and (max-width:872px){
    .container{
        height: 100%;
        width: 100%;
        margin-left: 0;
    }

    .contactHead{
        width: 100%;
        height: 50px;
        background-color: rgb(24, 24, 24);
    }

    .createConversation{
        height: 53px;
        width: 53px;
        border-radius: 100%;
        color: white;
        justify-content: center !important;
        align-items: center !important;
        position: absolute;
        bottom: 10%;
        right: 5%;
        font-size: 8px;
        cursor: pointer;
    }

}