.container{
    height: 100vh;
    width: 60vw;
    margin-left: 35vw;
    background-color: rgb(51, 51, 51);
    position: absolute;
    top: 0;
    /* overflow-y: auto; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* border-style: solid; */
    box-shadow: -1px -1px 3px black;
}
.mobileContainer{
    height: 100vh;
    width: 60vw;
    margin-left: 35vw;
    background-color: rgb(51, 51, 51);
    position: absolute;
    top: 0;
    /* overflow-y: auto; */
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* border-style: solid; */
    box-shadow: -1px -1px 3px black;
}
.header{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(36, 36, 36)
}
.dpDiv{
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameDiv{
    flex: 6;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding: 2% 0 0 5%; */
flex-direction: column;

}
.iconDiv{
    flex: 1.5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    box-sizing: border-box;
    padding: 0 1%;
    /* background-color: white; */
}
.iconDiv svg{
    fill: white;
    cursor: pointer;
}

.dpDiv div{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: relative;
    /* background-color: red; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameDiv div{
    flex: 1;
    width: 100%;
    height: 100%;
    font-size: 15px;
    margin: 0;
    padding: 0;
    margin-left: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.username{
    font-size: 24px;
    font-weight: 700;
    color: white;
}
.status{
    font-size: 14px;
    font-weight: 700;
    color: green;
}
.conversations{
    flex: 7;
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
    overflow: auto;
}

.container form, .mobileContainer form{
    flex: 1.5;
    /* background-color: orange; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container form textarea, .mobileContainer form textarea{
    resize: none;
    height: 90%;
    width: 75%;
    padding: 1%;
    border-radius: 10px;
    border-style: solid;
    border-color: transparent;
}
.container form button, .mobileContainer form button{
    height: 90%;
    width: 21%;
    padding: 1%;
    border-radius: 10px;
    border-style: solid;
    border-color: transparent;
}
.me{
    position: relative;
    padding: 1% 2%;
    height: fit-content;
    /* width: fit-content !important; */
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    font-size: 17px;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}
.sender{
 position: relative;
 /* right: 70%; */
 padding: 2%;
 width: 100%;
 margin-top: 20px;
 color: white;
 /* background-color:orange; */
}
.meMsg{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(71, 71, 71);
    margin: 2%;
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    right: 0;
    margin-top: 20px;

}
.senderMsg{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(1, 38, 245);
    margin: 2%;
    height: fit-content;
    width: fit-content;
    display: flex;
    color: white;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    margin-top: 20px;
}
.meRecipient{
    font-size: 11px;
    position: absolute;
    right: 0;
    display: block;
}
.senderRecipient{
    font-size: 11px;
    position: absolute;
    display: block;
    left: 0;
}

.overall{
    height: fit-content;
    width: 100% !important;
    /* background-color: blue; */
    display: flex;
    justify-content: first-end;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 30px;
    position: relative;
}
.backBtn{
    display: none;
}
@media screen and (max-width:872px){
    .container{
        height: 100%;
        width: 100%;
        margin-left: 0;
        display: none;
    }
    .mobileContainer{
        display: flex;
        height: 100%;
        width: 100%;
        margin-left: 0;
    }

    .header{
        height: 50px;
        width: 100%;
        padding: 0 2%;
    }
    .dpDiv{
        flex: 1;
        height: 70%;
        width: 70%;
    }
    .nameDiv{
        flex: 4;
        height: 100%;
        width: 100%;
    }
    .iconDiv{
        flex: 2;
        /* background-color: red; */
    }
    .iconDiv svg{
        fill: white;
        cursor: pointer;
    }
    
    .dpDiv div{
        height: 45px;
        width: 45px;
        /* background-color: red; */
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nameDiv div{
        flex: 1;
        font-size: 14px;
    }
    .username{
        font-size: 20px;
    }
    .status{
        font-size: 11px;
    }
    .container form, .mobileContainer form{
        flex: unset;
        background-color: rgb(51, 51, 51);
        position: -webkit-sticky;
        position: sticky;
        height: 50px;
        width: 100%;
        bottom: 0;
        top: 100%;
        z-index: 2;
    }
    .container form button, .mobileContainer form button{
        background-color: green;
        color: white;
    }
    .container form textarea{
        outline: none;
    }
    .mobileContainer form textarea{
        outline: none;
        width: 60%;
    }
    .mobileContainer .backBtn{
        height: 90%;
        width: 15%;
        border-radius: 10px;
        color: white;
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
}